<div class="login-screen">
    <h2>Login to Web App</h2>
    
        <%= form('/signup', :post) %>
        <br>

        First Name:<%= input(:user, :first_name) %>
        <br>
        Email Address: <%= input(:user, :email, :size => 40) %>
        <br>
        Password: <%= password(:user, :password) %>
        <br>
        Confirm Password: <%= password(:user, :password_confirmation) %>
        <br>

        <%= submit 'Signup' %>
        <br>
        I already have an account. Login <%=link 'Here', '/login' %>
</div>
     




